{
  "semi": false,
  "printWidth": 80,
  "parser": "babylon",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
  ]
}
